$mainColor: #1a1616;
$accentColor: rgb(199, 49, 49);
$inputColor: #f8f8ff;
$actionColor: #138113;
$offActionColor: #45865d;
$white: #ffffff;
$defaultLinkColor: rgb(77, 126, 199);

$boxShadowColor: rgb(185, 185, 185);
$lightGray: rgb(224, 224, 224);
